<% provide(:title,'Page')%>
<h1>Hello, world!</h1>
<button id="hello-btn">Click me</button>
<p>
  if you have any issues with js files run the following command:
  <code>RAILS_ENV=production bin/rails assets:precompile</code>
  <div>
    <%= image_tag "js.png", alt: "JavaScript" %>
  </div>
</p>